<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapli">

    <application
        android:name=".RealmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApli">

        <activity android:name=".RealmActivity"></activity>

        <activity android:name=".ScheduleEditActivity" />

        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/Theme.TestApli.NoActionBar" />
        <activity android:name=".MenuAppActivity" />
        <activity android:name=".SleepOffActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".AlarmManagerActivity" />
        <activity android:name=".AlarmClockAppActivity" />
        <activity android:name=".SoundPoolActivity" />
        <activity android:name=".CountDownActivity" />
        <activity android:name=".MediaPlayerActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".ImageSwitcherActivity" />
        <activity android:name=".Intent2Activity" />
        <activity android:name=".ContextMenuActivity" />
        <activity android:name=".OptionMenuActivity" />
        <activity android:name=".FloatingActionButtonActivity" />
        <activity android:name=".ViewPropertyActivity" />
        <activity android:name=".CountDownAppActivity" />
        <activity android:name=".SlideshowActivity" />
        <activity android:name=".Sensor2Activity" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".RadioGroupActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadcastReceiverImpl" />
        <receiver android:name=".AlarmBroadcastReceiver" />
    </application>

</manifest>